---
import { SITE } from '@/config'
import ThemeToggle from '@/components/ui/ThemeToggle.astro'
import { Image } from 'astro:assets'
---

<header>
  <nav>
    <div class="logo-container">
      {SITE.favicon && <img src="/favicon.svg" alt="favicon" class="favicon" />}
      <a href="/">{SITE.title}</a>
    </div>
    <div class="header-right">
      <div class="flex flex-col gap-2 md:flex-row">
        <a href="https://apps.apple.com/se/app/pepak-basa-jawa-komplit/id6752241812">
          <Image
            src="/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
            alt="PBJ Komplit! Apple AppStore page"
            width="150"
            height="50"
          />
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.theblangkon.pepakbasajawa">
          <Image
            src="/images/GetItOnGooglePlay_Badge_Web_color_English.png"
            alt="PBJ Komplit! Google PlayStore page"
            width="150"
            height="50"
          />
        </a>
      </div>
      <ThemeToggle />
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0 0 1.75rem 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    text-decoration: none;
    min-width: 3rem;
    display: inline-block;
  }
  .logo-container {
    position: relative;
  }
  .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .favicon {
    position: absolute;
    width: 1.125rem;
    height: 1.125rem;
    bottom: calc(100% + 3.5rem);
    left: 0;
  }
</style>
